body, section, header, h1, div, select, option, textarea, footer, input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
/**
    Propriedades de fonte
    =====================

    Fonte:
        font-family: 'Klavika Rg', sans-serif;
    Tamanho grande:
        font-size: 16pt;
    Tamanho pequeno: ;
        font-size: 11pt;
    Estilo negrito:
        font-weight: bolder;


    Propriedades de cores
    =====================

    Borda branca:
        border: 1px #FFFFFF solid;
    Borda azul:
        border: 1px #20457C solid;
    Cor branca:
        color: #FFFFFF;
    Cor azul:
        color: #20457C;
    Fundo branco:
        background-color: #FFFFFF;
    Fundo azul:
        background-color: #20457C;
*/
/* Login */

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    height: 197px;
    width: 398px;
    border: 1px #20457C solid;
    color: #20457C;
    background-color: #FFFFFF;
    font-family: 'Klavika Rg', sans-serif;
}
section#login > header {
    background-color: #20457C;
    border: 1px #FFFFFF solid;
    height: 50px;
    text-align: center;
}
section#login > header > h1 {
    font-size: 16pt;
    color: #FFFFFF;
    padding: 12px 0px;
}
section#login > form {
    text-align: center;
}
section#login > form > div {
    margin: 0 25%;
    float: left;
    text-align: left;
    padding: 10px 0px;
}
section#login > form > div > label {
    font-size: 11pt;
}
section#login > form > div > input {
    font-family: 'Klavika Rg', sans-serif;
    border: 1px #20457C solid;
    color: #20457C;
}
section#login > form > button {
    padding: 5px;
    font-family: 'Klavika Rg', sans-serif;
    background-color: #20457C;
    border: 1px #FFFFFF solid;
    color: #FFFFFF;
    font-size: 11pt;
    margin: 3px 0px;
    width: 84px;
}
section#login > form > button:hover {
    background-color: #FFFFFF;
    border: 1px #20457C solid;
    color: #20457C;
}
section#login > p {} section#login > p > span.error {}
/* Chat - Tela principal */

section#chat {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 225px;
    height: 400px;
    transition: height 0.5s;
    background-color: #FFFFFF;
    border: 1px #20457C solid;
}
section#chat.minimized {
    height: 40px;
}
section#chat > header {
    height: 40px;
    border: 1px #FFFFFF solid;
    background-color: #20457C;
}
section#chat > header > h1 {
    float: left;
    display: inline;
    margin: 10px 10px;
    font-family: 'Klavika Rg', sans-serif;
    font-size: 16pt;
    color: #FFFFFF;
}
section#chat > header > button {
    float: right;
    padding: 3px 7px;
    margin: 8px 4px 0px 0px;
    font-family: 'Klavika Rg', sans-serif;
    font-size: 11pt;
    font-weight: bolder;
    border: 1px #20457C solid;
    background-color: #FFFFFF;
    color: #20457C;
}
section#chat > div.content {
    height: 338px;
}
section#chat > div.content > select {
    height: 100%;
    width: 100%;
    font-family: 'Klavika Rg', sans-serif;
    font-size: 11pt;
    color: #20457C;
    background-color: #FFFFFF;
}
section#chat > div.content > select > option {}
/* Chat - Container de janelas */

section#containerWindows {
    position: fixed;
    bottom: 0px;
    right: 228px;
}
/* Chat - Janelas */

section#containerWindows > section.window {
    float: right;
    width: 225px;
    height: 275px;
    transition: height 0.5s;
    background-color: #FFFFFF;
    border: 1px #20457C solid;
}
section#containerWindows > section.window.minimized {
    height: 40px;
}
section#containerWindows > section.window > header {
    height: 40px;
    border: 1px #FFFFFF solid;
    background-color: #20457C;
}
section#containerWindows > section.window > header > h1 {
    float: left;
    display: inline;
    margin: 10px 10px;
    font-family: 'Klavika Rg', sans-serif;
    font-size: 16pt;
    color: #FFFFFF;
}
section#containerWindows > section.window > header > button {
    float: right;
    padding: 3px 7px;
    margin: 8px 4px 0px 0px;
    font-family: 'Klavika Rg', sans-serif;
    font-size: 11pt;
    font-weight: bolder;
    border: 1px #20457C solid;
    background-color: #FFFFFF;
    color: #20457C;
}
section#containerWindows > section.window > div.content {
    height: 187px;
}
section#containerWindows > section.window > div.content > textarea {
    width: 100%;
    height: 98%;
    font-family: 'Klavika Rg', sans-serif;
    font-size: 11pt;
    border-bottom: 1px #20457C solid;
    color: #20457C;
}
section#containerWindows > section.window > footer {
    height: 40px;
    margin-top: 3px;
}
section#containerWindows > section.window > footer > form > input {
    float: left;
    height: 42px;
    width: 167px;
    font-family: 'Klavika Rg', sans-serif;
    font-size: 11pt;
    color: #20457C;
}
section#containerWindows > section.window > footer > form > button {
    height: 42px;
    width: 56px;
    border: none;
    font-family: 'Klavika Rg', sans-serif;
    font-size: 11pt;
    font-weight: bolder;
    background-color: #20457C;
    color: #FFFFFF;
}
section#containerWindows > section.window > footer > form > button:hover {
    background-color: #FFFFFF;
    color: #20457C;
    border: 1px #20457C solid;
}
