<script>
$(document).ready(function() {
    var socket = io.connect();
    $('#fileupload').change(function(e) {
        var file = e.target.files[0];
        var stream = ss.createStream();
        ss(socket).emit('upload', stream, {
            name: file.name,
            size: file.size
        });
        ss.createBlobReadStream(file).pipe(stream);
        $('#fileupload').val('');
    });

    socket.on('arquivo', function(data) {
        $('.arquivo').after('<li><a href="' + data + '" target="_blank">' + data + '</a></li>');
    });
});
</script>
<section id="containerUpload">
    <header>
        <h1>Uploads</h1>
        <hr>
    </header>
    <input type="file" id="fileupload" multiple="true">
    <ol class="arquivo" type="1"></ol>
</section>

<section id="chat">
    <header>
        <h1>Chat</h1>
        <button class="close">X</button>
        <button class="resize">_</button>
    </header>
    <div class="content">
        <select id="usuarios" multiple>
        </select>
    </div>
    <section id="containerWindows"></section>
</section>
